table {
  width: 100%;
}

th {
  text-transform: uppercase;
  color:lightgray;
  text-align: left;
  padding: 6px;
}

td{
  padding: 6px;
}

tr {
  background-color: #f5f5f5;
}

tr.odd {
  background-color: #e0e0e0;
}

tr.selected {
  font-weight: bold;
}
